body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: sans-serif;
}

.container {
  width: 800px;
  margin: 20px auto;  
  border: 1px solid black;
  background: white;
  overflow: hidden;
}


.header {
  height: 50px;
  background: black;
}


.banner {
  height: 150px;
  background: lightblue;
}


.kiri {
  width: 150px;
  height: 350px;
  background: #d3d3d3;
  float: left;

}

.tengah {
  width: 500px;
  height: 350px;
  background: #fff0c0;
  float: left;
 
}

.kanan {
  width: 150px;
  height: 350px;
  background: #d3d3d3;
  float: left;
  
}


.footer {
  height: 50px;
  background: black;
  clear: both;
  margin-top: 15px;
}

/*.clear {
    clear: left;
}*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/*.cf {
    *zoom: 1;
}

